.jumbotron{
	float:left;
	;
}
.navbar{
	margin:0;
	background-color: #3b5998;
}
.jumbotron{
	box-sizing: border-box;
	background-color: white;
		width:60%;
		text-align: justify-all;
}
.container .sign-up{
	float:right;
		box-sizing: border-box;
	width:40%;
}
.boy{
	clear:both;
}
.month{
	width: 86px;
}
#month-select{
	background-color: gray;
}